<div class="flex justify-center">
  <form [formGroup]="productForm" class="bg-white w-[600px] shadow border p-8">
    @if(product){

    <h1 class="font-semibold text-2xl flex justify-center">Update Product</h1>
    }@else {

    <h1 class="font-semibold text-2xl flex justify-center">Add Product</h1>
    }
    <div class="flex flex-wrap">
      <div class="w-full">
        <mat-label>Product Name</mat-label>
        <mat-form-field class="w-full">
          <input type="text" matInput formControlName="name" />
        </mat-form-field>

        <mat-label>Product Details</mat-label>
        <mat-form-field class="w-full">
          <input type="text" matInput formControlName="details" />
        </mat-form-field>

        <mat-label>Brand Name</mat-label>
        <mat-form-field class="w-full">
          <mat-select formControlName="brandId">
            @for (brand of brands; track $index) {
            <mat-option [value]="brand.id">{{ brand.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-label>Purchase Price</mat-label>
        <mat-form-field class="w-full">
          <input type="number" matInput formControlName="purchasePrice" />
        </mat-form-field>

        <mat-label>Sale Price</mat-label>
        <mat-form-field class="w-full">
          <input type="number" matInput formControlName="salePrice" />
        </mat-form-field>

        <mat-label>Available Quantity</mat-label>
        <mat-form-field class="w-full">
          <input type="number" matInput formControlName="availableQuantity" />
        </mat-form-field>
      </div>
      @if(product){
      <div class="w-full flex justify-center">
        <button mat-raised-button (click)="updateProduct()">Update Product</button>
      </div>

      }@else {

      <div class="w-full flex justify-center">
        <button mat-raised-button (click)="addProduct()">Add Product</button>
      </div>
      }
    </div>
  </form>
</div>
