<div class="flex gap-32">
  <div class="w-4/12">
    <mat-card class="flex justify-center items-center">
      <h4>Products</h4>
      <h6>{{ totalProducts }}</h6>
    </mat-card>
  </div>

  <div class="w-4/12">
    <mat-card class="flex justify-center items-center">
      <h4>Orders</h4>
      <h6>{{ totalOrders }}</h6>
    </mat-card>
  </div>

  <div class="w-4/12">
    <mat-card class="flex justify-center items-center">
      <h4>Brands</h4>
      <h6>{{ totalBrands }}</h6>
    </mat-card>
  </div>
</div>
